REDISJS_PORT=6379
# REDISJS_TLS_PORT=6380
# REDISJS_PASSWORD=changeme
# REDISJS_TLS_PFX_FILE=certs/server.pfx
# REDISJS_TLS_PFX_PASSPHRASE=
# REDISJS_TLS_KEY_FILE=certs/server.key
# REDISJS_TLS_CERT_FILE=certs/server.crt
# REDISJS_TLS_CA_CERT_FILE=certs/ca.crt
# REDISJS_TLS_AUTH_CLIENTS=no
# REDISJS_TLS_MIN_VERSION=TLSv1.2
# REDISJS_TLS_MAX_VERSION=TLSv1.3
# REDISJS_TLS_CIPHERS=
# REDISJS_AOF=1
# REDISJS_AOF_FILE=aof.log
# REDISJS_SNAPSHOT_FILE=dump.json
# REDISJS_SLOWLOG_THRESHOLD_US=1000

# Monitoring dashboard (HTTP)
# Set a port to enable the monitoring UI. Example: 8128
# When set, server logs: "Monitor UI on http://127.0.0.1:<port>"
# If unset, the monitor stays disabled.
# REDISJS_MONITOR_PORT=8128

# Keyspace notifications
# Configure which notifications to publish. Combination of flags:
# K = Keyspace channel, E = Keyevent channel, A = all classes, or classes: g,$,l,s,h,z,x
# Example: 'KEA' enables keyspace + keyevent + all classes
# REDISJS_NOTIFY_KEYSPACE_EVENTS=KEA


